name: Score Submission

on:
  pull_request:
    paths:
      - "submissions/**"

jobs:
  score:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Checkout private evaluation repo
        uses: actions/checkout@v4
        with:
          repository: El-Ikram/challenge
          token: ${{ secrets.PRIVATE_REPO_TOKEN }}
          path: private_eval

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Evaluate submission
        id: eval
        run: |
          SCORE=$(python competition/evaluate.py \
          submissions/submission.csv \
          private_eval/test_labels.csv | grep SCORE | cut -d "=" -f2)
          echo "score=$SCORE" >> $GITHUB_OUTPUT

      - name: Append to leaderboard
        run: |
          echo "${{ github.actor }},GCN,${{ steps.eval.outputs.score }},$(date -u +"%Y-%m-%dT%H:%M:%SZ"),Auto submission" >> leaderboard/leaderboard.csv

      - name: Commit leaderboard update
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add leaderboard/leaderboard.csv
          git commit -m "Update leaderboard"
          git push
