name: Score Submission

on:
  pull_request:
    paths:
      - "submissions/**"

permissions:
  contents: write

jobs:
  score:
    runs-on: ubuntu-latest

    steps:
      # Checkout competition repo (PR branch)
      - name: Checkout competition repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      # Checkout private evaluation repo
      - name: Checkout private evaluation repo
        uses: actions/checkout@v4
        with:
          repository: El-Ikram/Help_repo   
          token: ${{ secrets.PRIVATE_REPO_TOKEN }}
          path: private_eval

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # Install dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt

                # Validate submission format
      - name: Validate submission
        run: |
          python competition/validate_submission.py \
          submissions/submission.csv \
          private_eval/test_nodes.csv

      # Evaluate submission
      - name: Evaluate submission
        id: eval
        run: |
          SCORE=$(python competition/evaluate.py \
          submissions/submission.csv \
          private_eval/test_labels.csv | grep SCORE | cut -d "=" -f2)

          echo "score=$SCORE" >> $GITHUB_OUTPUT

      # Append score to leaderboard
      - name: Update leaderboard
        run: |
          echo "${{ github.actor }},GCN,${{ steps.eval.outputs.score }},$(date -u +"%Y-%m-%dT%H:%M:%SZ"),Auto submission" >> leaderboard/leaderboard.csv

            # Ensure we are on the PR branch
      - name: Switch to PR branch
        run: git checkout ${{ github.head_ref }}
      #  Commit and push back to PR branch (FIXED detached HEAD)
      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"

          git add leaderboard/leaderboard.csv
          git commit -m "Update leaderboard"

          # Push back to the same PR branch
          git push origin ${{ github.head_ref }}
